body {
  color: grey; }

#header {
  background-color: gold;
  font-size: 3em; }

#section ul li.selected {
  background-color: gold; }
#section .panel-heading {
  font-size: 1.5em; }

#footer {
  background-color: darkgrey;
  height: 50px;
  line-height: 50px;
  color: white; }
  #footer a, #footer a:visited {
    color: white;
    text-transform: capitalize; }
